*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: fit-content;
}
.main{
    max-width: 80%;
    margin: 0 auto;
    height: fit-content;
}
.nav{
    height:80px;
    width:100%;
    margin-bottom: 20px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.nav-links ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    color:rgb(167, 158, 158);
}
.nav-links ul li{
    margin-left: 20px;
}

.body-content{
    display: grid;
    height: fit-content;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 'i i e' 'h c e';
}

.image{
    grid-area: i;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 350px;
    width: 100%;
    background: url('./assets/images/image-web-3-desktop.jpg');

}


.web3-heading{
    grid-area: h;
    h1{
        width: 75%;
    }
}
.web3-content{
    grid-area: c;
    color:rgb(167, 158, 158);
    
}
.btn{
    border:none;
    padding:16px;
    font-size: 11px;
    background-color:rgb(216, 63, 63);
    color: white;
    letter-spacing: 3px;
    margin-top: 15px;
}

.new{
    grid-area: e;
    height: fit-content;
    background-color: rgb(2, 2, 32);
    color: rgb(202, 198, 198);
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.new > h1{
    color: rgb(141, 124, 15);
    margin-bottom: 20px;
}

.new > hr{
    margin-top: 20px;
    margin-bottom: 20px;
}
.new > .content1 > h2{
    margin-bottom: 5px;
}
.flex-content{
    display:flex;
    justify-content: center;
    align-items: center;
    
}
.flex-content .img-flex img{
    width:70px;
    height:100px;
    margin-right: 20px;
}
.retro-pcs{
    display:flex;
    
}

.retro-pcs-content{
    font-size: 14px;
    padding: 5px;
    color:rgb(165, 161, 161) ;
   
}
.laptops{
    display:flex;
    
}

.top-laptops-content{
    font-size: 14px;
    padding: 5px;
    color:rgb(165, 161, 161) ;
   
}
.gaming{
    display:flex;
    
}

.growth-of-gaming{
    font-size: 14px;
    padding: 5px;
    color:rgb(165, 161, 161) ;
   
}
#bold{
    color: black;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
}

.gaming{
    display:flex;
}
.laptops{
    display:flex;
}